<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.tarc.assignment">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditProfileActivity"
            android:label="Edit Profile"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".WalletActivity"
            android:label="Wallet"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewCardActivity"
            android:label="New Card"
            android:parentActivityName=".WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TransactionHistoryActivity"
            android:label="Transaction History"
            android:parentActivityName=".WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="Registration"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PINSetupActivity"
            android:label="PIN setup"
            android:parentActivityName=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="Change Password"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPINActivity"
            android:label="Reset PIN"
            android:parentActivityName=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeScannerActivity"
            android:label="QR Code Scanner"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WalletTopUpActivity"
            android:label="Top Up"
            android:parentActivityName=".WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".ViewVoucherActivity"
            android:label="My Voucher"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".PrepaidTopUpActivity"
            android:label="@string/prepaid_reload_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PaymentSuccessfulActivity"
            android:label="Payment Successful"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeHome" />
        <activity android:name=".ConfirmationActivity"
            android:label="Confirmation"
            android:parentActivityName=".QRCodeScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

    </application>

</manifest>